/* Remember kids, don't use `id`s for styling. */

section#heading {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

div#instructions {
	color: var(--text-muted);
	text-wrap: balance;
	text-align: center;
}

section#controls form {
	display: flex;
	align-items: stretch center;
	justify-content: center;
	margin: 0 auto;
	flex-flow: row wrap;

	& label input {
		width: clamp(15ch, calc(10ch + 1vw), 40ch);
	}
}

section#content {
	margin: 2rem auto;
	padding: 3rem;
	text-align: center;
	outline: 1px solid var(--text-muted);
	border-radius: 0.2rem;

	&.populated {
		padding: 0rem;
		width: 100%;
	}
}

ol#inputList {
	padding: 0;
	width: 100%;
}

ol#inputList li:nth-child(odd) {
	background-color: rgba(10, 10, 10, 0.1);
}

ol#inputList li {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	justify-content: space-evenly;
	padding: 0.5rem;
	padding-top: 1rem;
}

ol#inputList li label {
	font-size: 1rem;
	text-align: left;
	color: var(--text-bright);
	min-width: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	flex: 100%;
}

ol#inputList li input[type="text"] {
	font-family: monospace;
	opacity: 0.7;
	max-width: 10ch;
}

ol#inputList li button {
	transition: filter 500ms ease-out;

	&.recently-copied {
		filter: hue-rotate(180deg) saturate(150%);
		border-color: rgba(0, 0, 0, 0);
	}
	&.copied {
		background-color: var(--border);
	}
}

div#toast {
	position: fixed;
	top: 0;
	right: 0;
	background-color: var(--background-alt);
	padding: 1rem 0 1rem 1rem;
	border: 4px solid var(--border);
	border-right: none;
	font-family: monospace;
	color: var(--text-muted);
	width: 45ch;
	translate: 100%;
	transition: translate ease-out 500ms;
	z-index: 1;
	&.on {
		translate: 0%;
	}
}
