h1 {
  font-family: monospace;
  letter-spacing: -0.05em;
}

section#heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

section#instructions {
  color: var(--text-muted);
  text-wrap: balance;
  text-align: center;
  padding-bottom: 0.5rem;
  max-width: 40rem;
  margin-inline: auto;
}

section#controls form {
  display: flex;
  align-items: stretch center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 0.2rem;
  & label {
    text-align: center;
  }
  & label input {
    margin-top: 0.25em;
    width: clamp(15ch, calc(10ch + 1vw), 40ch);
  }
  & button {
    outline: 1px solid var(--text-muted);
  }
}

section#content {
  margin: 1rem auto;
  padding: 3rem;
  text-align: center;
  border-radius: 0.2rem;
  outline: 2px solid transparent;
  transition: filter 200ms ease;

  &.populated {
    padding: 0rem;
    width: 100%;
    outline: 2px solid var(--text-muted);
  }
  &.data-updated {
    filter: brightness(50%);
  }
}

ol#inputList {
  padding: 0;
  width: 100%;
}

ol#inputList li:nth-child(odd) {
  background-color: rgba(10, 10, 10, 0.1);
}

ol#inputList li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  padding-top: 1rem;
  opacity: 1;
  --delay-ms: min(calc(var(--input-number, 0) * 100ms), 1500ms);
  transition: opacity var(--delay-ms) ease-in-out;

  @starting-style {
    opacity: 0;
  }

  & span {
    font-family: monospace;
    color: var(--text-muted);
    padding: 0.2rem;
    margin-bottom: 0.2rem;
  }
}

ol#inputList li button {
  transition: filter 350ms ease-out;

  &.recently-copied {
    filter: hue-rotate(180deg) saturate(150%);
    border-color: rgba(0, 0, 0, 0);
  }
  &.copied {
    background-color: var(--border);
    border-color: var(--button-base);
    &:hover {
    }
  }
}

ol#inputList li label {
  font-size: 1rem;
  text-align: left;
  color: var(--text-bright);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 6ch;
  flex: 1 1;
}

ol#inputList li input[type="text"] {
  font-family: monospace;
  opacity: 0.7;
  min-width: 6ch;
  max-width: 38ch;
  text-align: center;
  flex: 1 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

button#toast {
  & > div#toast-content {
    & > div:first-of-type {
      color: var(--text-muted);
    }
  }
  position: fixed;
  font-size: 1rem;
  margin: 0;
  bottom: 0.4rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  padding: 0.5rem;
  background-color: var(--button-base);
  border-width: 0.2rem;
  border-style: solid;
  border-image: linear-gradient(
      to left,
      var(--border) 80%,
      var(--text-muted) 100%
    )
    1;
  font-family: monospace;
  color: var(--text-muted);
  width: calc(100dvw - 4rem);
  max-width: 50ch;
  transform: translateY(200%);
  opacity: 0;
  transition:
    opacity ease 300ms,
    transform ease 300ms,
    background-color 200ms,
    color linear 300ms,
    border-image linear 2500ms;
  z-index: 100;

  &.on {
    opacity: 1;
    transform: translateY(0%);
    animation-name: border-loop;
    animation-duration: 750ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    color: var(--text-bright);
  }

  @media (prefers-reduced-motion) {
    transform: translateX(0%);
    border-image: none;
    border-color: var(--border);
    &.on {
      animation: none;
      border-image: none;
      border-color: var(--border);
    }
  }
}

@keyframes border-loop {
  0% {
    border-image: linear-gradient(
        to left,
        var(--border) 80%,
        var(--text-muted) 100%
      )
      1;
  }
  100% {
    border-image: linear-gradient(
        to left,
        var(--text-muted) 20%,
        var(--border) 100%
      )
      1;
  }
}
